@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

body {
    margin: 0;
}

body, button {
    font-family: Quicksand, 'sans-serif';
}

.element {
    border-bottom: 1px solid #dadada;
    background: #fff;
}
    
.element .sliding-body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fafafa;
}

.element .sliding-button {
    font-weight: 600;
    background: #edf2f4;
}

.element .sliding-buttons-on-left .sliding-button {
    border-right: 1px solid #dadada;
}

.element .sliding-buttons-on-right .sliding-button:nth-child(2) {
    background: #e63946;
    color: #FFF;
    border-right: none;
}

.app-container {
    max-width: 800px;
    margin: 0 auto;
}